
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Images/background.jpg);
}
.header{
    width: 100%;
}
.header h1{
  font-family: "Love Ya Like A Sister", cursive;;
  text-transform: uppercase;
  font-size: 34px;
  color: #FF559D;
  margin-left: 10px;
}
.section-1 h2{
      font-family: "Love Ya Like A Sister", cursive;;
  text-transform: capitalize;
  font-size: 34px;
  color: #FF559D;
  margin-left: 10px;

}
.section-1 h2:nth-child(2){
    color: #ff5555;

}

/* Section */
.contact {
  padding: 2rem 1rem;
  min-height: 100vh;
}


/* Form */
form {
  background: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

/* Input fields */
.field,
.message {
  position: relative;
  margin-bottom: 1.2rem;
}

.field i,
.message i {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #333;
  font-size: 1rem;
}

.message i {
  top: 20px;
  transform: none;
}

/* Inputs & textarea */
input,
textarea {
  width: 100%;
  padding: 12px 12px 12px 44px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #333;
  outline: none;
  background: #e5ecfb;
}

textarea {
  min-height: 120px;
  resize: none;
  padding-top: 14px;
}

/* Focus */
input:focus,
textarea:focus {
  border: 2px solid #7303a7;
}

/* Button */
.btn {
  width: 100%;
  padding: 14px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #2506ad;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 5px 10px rgba(48, 68, 247, 0.6);
  transition: background 0.3s ease;
}

.btn i {
  margin-left: 8px;
}

.btn:hover {
  background: #421cecf5;
}


.grid {
  display: grid;
  gap: 10px;
  margin-top: 30px;
}

.grid-image {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.grid-image:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {

  .hero {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  .hero_content h1 {
    font-size: 60px;
  }

  .fectures {
    flex-direction: row;
  }

  .grid {
    grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7";
  }

  .item1 { grid-area: I1; }
  .item2 { grid-area: I2; }
  .item3 { grid-area: I3; }
  .item4 { grid-area: I4; }
  .item5 { grid-area: I5; }
  .item6 { grid-area: I6; }
  .item7 { grid-area: I7; }
