
body{
    margin: 0;
    background-image: url(images/image.png);
    background-position: center;
   
}
main{
    width: min(1200px, 90vw);
    margin: auto;
}


.video{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	padding: 0px;
	margin: 0px;
	opacity: 0.3;
}


.background{
	background-image: url("./1.jpg");
	width: 100%;
	height: 100vh;
	background-position: center left;
}
.slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 1% 96%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: 300px;
    position: absolute;
    left: 100%;
    animation: autoRun 30s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (30s / var(--quantity)) * (var(--position) - 1) - 30s)!important;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 30s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}



.slider-2{
    width: 100%;
    height: 300px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 1% 96%,
        transparent
    );
}
.slider-2 .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider-2 .list .item{
    width: var(--width);
    height: 300px;
    position: absolute;
    right: 100%;
    animation: autoRun-2 30s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(
        (30s / var(--quantity)) * (var(--position) - 1) - 30s
    ) !important;
}
.slider-2 .list .item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@keyframes autoRun-2{
    from{
        right: 100%;
    }to{
        right: calc(var(--width) * -1);
    }
}
.slider-2:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider-2 .item:hover{
    filter: grayscale(0);
}
.slider-2[reverse="true"] .item{
    animation: reversePlay-2 30s linear infinite;
}
@keyframes reversePlay-2{
    from{
        right: calc(var(--width) * -1);
    }to{
        right: 100%;
    }
}